niffler_tests/internal/soap/templates/xsd/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.xmlsoap.org/soap/envelope/"
           xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
           xmlns:w="{{ operation_namespace }}">
    <xs:import namespace="{{ operation_namespace }}" schemaLocation="{{ operation_xsd }}"/>

    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="soap:Header" minOccurs="0"/>
                <xs:element ref="soap:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Header" type="xs:anyType"/>

    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="w:{{ operation }}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>