niffler_tests/internal/soap/templates/xsd/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:nif="niffler-userdata"
        targetNamespace="http://schemas.xmlsoap.org/soap/envelope/"
        elementFormDefault="qualified">

    <xs:import namespace="niffler-userdata" schemaLocation="{{ operation_xsd }}"/>

    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="soapenv:Header" minOccurs="0"/>
                <xs:element ref="soapenv:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Header" type="xs:anyType"/>

    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nif:{{ operation }}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
