niffler_tests/internal/soap/templates/xsd/userResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="niffler-userdata"
        targetNamespace="niffler-userdata"
        elementFormDefault="qualified">

    <xs:element name="userResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>

            <xs:element name="username" type="xs:string"/>
            <xs:element name="currency" type="tns:currency"/>

            <xs:element name="friendshipStatus" type="tns:friendshipStatus" minOccurs="0"/>
            <xs:element name="firstname" type="xs:string" minOccurs="0"/>
            <xs:element name="surname" type="xs:string" minOccurs="0"/>
            <xs:element name="fullname" type="xs:string" minOccurs="0"/>
            <xs:element name="photo" type="xs:string" minOccurs="0"/>
            <xs:element name="photoSmall" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RUB"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="KZT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="friendshipStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVITE_SENT"/>
            <xs:enumeration value="INVITE_RECEIVED"/>
            <xs:enumeration value="FRIEND"/>
            <xs:enumeration value="VOID"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
